<div class="about row">

    <div class="col-md-8">

        <h2>关于我</h2>

        <p>休息了半生，是否愿意醒来？</p>
		
	<h2>人生格言</h2>
	<blockquote><b>我要和生活再死磕几年。</b><br><b>要么我就毁灭，要么我就注定铸就辉煌。</b><br><b>如果有一天，你发现我在平庸面前低了头，</b><br><b>请向我开炮。</b><br>——凯鲁亚克《在路上》</blockquote>

        <h2>联系方式</h2>

        <ul>
            <li>Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
            <li>Github：<a href="{{ site.github_url }}">{{ site.github_url }}</a></li>
        </ul>

        <h2>技术栈</h2>
        {% for _ in site.skkil %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ _.name }}</h3>
            </div>
            <div class="panel-body">
                {% for keyword in _.skills %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
<div class="col-md-4">
    {% include sidebar-popular-repo.html %}
</div>


</div>
